<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.market.DTO.MarketUserDTO" alias="UserDTO"/>
		<typeAlias type="com.market.DTO.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.market.DTO.BasketDTO" alias="BasketDTO"/>
		<typeAlias type="com.market.DTO.BasketListDTO" alias="BasketListDTO"/>
		<typeAlias type="com.market.DTO.LocationDTO" alias="LocationDTO"/>
		<typeAlias type="com.market.DTO.OrderDTO" alias="OrderDTO"/>
		<typeAlias type="com.market.DTO.ReviewDTO" alias="ReviewDTO"/>
		<typeAlias type="com.market.DTO.ZzimDTO" alias="ZzimDTO"/>
		<typeAlias type="com.market.DTO.ZzimJoinProductDTO" alias="ZzimJoinProductDTO"/>
		<typeAlias type="com.market.DTO.ReviewJoinUserDTO" alias="ReviewJoinUserDTO"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="jsp" />
				<property name="password" value="jsp" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/market/sql/login.xml" />
		<mapper resource="com/market/sql/mypage.xml" />
		<mapper resource="com/market/sql/basket.xml" />
		<mapper resource="com/market/sql/product.xml" />
	</mappers>
</configuration>